@import "variables";

.title {
  margin-bottom: 30px;
  font-size: 24px;
  text-align: center;
}

.note {
  font-size: 14px;
  text-align: center;
  color: $textGreyColor;
  margin-bottom: 15px;
}

.confirmInput {
  margin-bottom: 15px;
}