@import "variables";

.content {
  padding: 20px 0px 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 0 auto;
}

.footer {
  text-align: center;
  color: $textGreyColor;

  a {
    color: $textGreyColor;
  }
}

.title {
  margin-bottom: 40px;
  font-size: 24px;
  span {
    color: $dbBlue;
  }
}

.button {
  max-width: 300px;
  min-width: 300px;
  background: $dbBlue;
}

