@import "variables";

.assets {
  min-height: 78px;
  position: relative;
  max-width: 300px;
  margin: 0 auto;
  
  .assetsContent {
    width: 100%;
    margin-bottom: 20px;
  }

  .assetsHeader {
    margin-bottom: 50px;
  }

  .assetsContentItems {
    display: none;
    margin-bottom: 50px;
  }
}

.assetsHeader {
  font-size: 18px;
  color: $dbBlue;
  user-select: none;
  
  svg {
    transition: transform .3s;
    margin-left: 5px;
  }
}

.assetsExpanded {
  .assetsContentItems {
    display: block;
  }

  .assetsHeader {
    margin-bottom: 25px;
    svg {
      transform: rotate(180deg);
    }
  }
}

.button {
  color: $dbBlue;
  border: 1px solid $dbBlue;
  max-width: 100%;
  width: 100%;
  min-width: 270px;
  margin-bottom: 30px;
}

.note {
  color: $textGreyColor;
  text-align: center;
  margin: 0 auto;
  width: 200px;
}

.container {
  text-align: center;
  width: 100%;
}

