@import "variables";

.container {
  width: 100vw;
  height: 100vh;
  background: #FFF;
  position: fixed;
  margin-left: -100%;
  top: 0px;
  left: 0px;
  transition: margin-left .3s;
}

.content {

}

.button {
  background: $dbBlue;
  min-width: 300px;
  max-width: 300px;
}

.close {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
  z-index: 1;
  transform: rotate(180deg);
}

.link {
  height: 50px;
  width: 300px;
  border-radius: 5px;
  padding: 0px 15px;
  font-size: 20px;
  line-height: 50px;
  margin-bottom: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  border: 1px solid $dbGrey;
}

.show {
  margin-left: 0%;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.subtitle {
  margin-bottom: 30px;
  text-align: center;
}