@import "variables";

.button {
  margin-bottom: 20px;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.text {
  font-size: 16px;
  margin-bottom: 30px;
  text-align: center;
}

.link {
  color: $textGreyColor;
  text-align: center;
}