@import "variables";

.container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.qr {
  width: 100%;
  height: 210px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid $greyStrokeMenuColor;

  .qrItem {
    padding: 5px 5px 2px 5px;
    border: 1px solid $dbBlue;
    border-radius: 5px;
  }
}



.close {
  position: absolute;
  top: 30px;
  left: 30px;
}

.address {
  height: 72px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 1px solid $greyStrokeMenuColor;

  .addressText {
    max-width: 270px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    padding-right: 30px;
    font-size: 18px;
    text-overflow: ellipsis;
    color: $dbBlue;
  }

  .addressCheck {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 1px solid $dbBlue;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    color: $dbBlue;
  }
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}

.button {
  background-color: $dbBlue;
  max-width: 300px;
  min-width: 300px;
}