@import "variables";

.title {
  text-align: center;
  margin-bottom: 50px;
}

.titleGrant {
  margin-bottom: 14px;
}

.list {
  max-width: 265px;
  margin: 0 auto 19px;
  list-style: none;
  padding: 0;
}

.link {
  font-size: 16px;
  text-align: center;
  margin-bottom: 20px;
  cursor: pointer;
}

.listItem {
  margin-bottom: 6px;
  display: flex;
  width: 100%;
  align-items: baseline;

  svg {
    flex: 1 0 22px;
    margin-right: 10px;
  }

  &:last-child {
    margin-bottom: 0px;
  }
}



.button {
  width: 300px;
  border-color: $dbGrey;
  margin-bottom: 20px;

  img {
    margin-right: 35px;
  }
}

.note {
  color: $textGreyColor;
  text-align: center;
  font-size: 14px;

  a {
    color: $textGreyColor;
  }
}

.buttonLoading {
  div {
    border-color: 2px solid $dbGrey!important;
    border-color: $dbGrey transparent transparent transparent!important;
  }
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}