@import "variables";

.header, .bodyHeader {
  display: flex;
  padding-top: 0px;
  padding-bottom: 0px;
  background: #FFF;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  position: relative;
  font-family: 'Inter-Medium';

  .headerIcon {
    position: absolute;
    top: 50%;
    cursor: pointer;
    transform: translateY(-50%);
    height: 35px;
  }

  .bodyHeaderCloseIcon, .bodyHeaderQrIcon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    cursor: pointer;
  }

  .bodyHeaderCloseIcon {
    right: 30px;
  }

  .bodyHeaderQrIcon, .headerIcon {
    left: 30px;
  }

  a {
    text-decoration: none!important;
    color: $dbBlue!important;
    font-size: 24px;
  }
}

.email {
  border-radius: 20px;
  height: 40px;
  width: 170px;
  font-size: 16px;
  border: 1px solid #000;
  padding: 0px 15px;
  line-height: 40px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bodyHeader {
  height: 90px;
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 2;
  left: 0;
  width: 100%;
}

.header {
  align-items: center;
  height: 90px;
}


.bodyMain {
  height: 100vh;
  padding-top: 90px;
}

.body {
  position: absolute;
  width: 100%;
  background: $whiteColor;
  left: -101%;
  z-index: 2;
  height: 100vh;
  top: 0;
  transition: left .3s;

  .bodyContent {
    padding: 90px 20px 20px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .bodyHeader {
    .headerIcon {
      height: 34px;
    }
  }
}

.avatar {
  margin-bottom: 15px;
  height: 80px;
  width: 80px;
  border-radius: 80px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 3px solid $greyStrokeMenuColor;

  &.avatarSmall {
    height: 35px;
    width: 35px;
    border: 2px solid $blackColor;
    border-radius: 35px;
  }

  &.avatarDefault {
    border: none;
  }
}

.container {
  background: $whiteColor;
  position: relative;
  max-width: 100vw;
  &.opened {
    .body {
      left: 0;
    }
  }
}