.container {
  height: 90px;
  min-height: 90px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  font-size: 24px;
  width: 100%;
  font-family: 'Inter-Medium';
}

.headerLogo {
  max-width: 180px;

  img {
    max-width: 100%;
  }
}