.main {
  
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: scroll;
}


.container {
  overflow: hidden;
  max-width: 100vw;
  &.hideHeader {
    .main {
      height: 100vh;
    }
  }
}

.note {
  padding: 0px 30px;
  transform: translateY(-10px);
}